html {
    max-width: 1200px;
    margin: 0 auto;
    width: auto;

}

.cse-event {
    outline: 1px solid indigo;
    padding: 2px;
    margin: 5px;
}

.cse-event-club-name {
	display: inline-block;
    width: auto;
}

.cse-event-title {
    padding: 2px;
}

.cse-event-description {
    padding: 5px;
}

.cse-event-date-and-time {
    display: block;
}

.cse-event-club-logo {
    width: 50px;
    height: 50px;
}

.cse-event-title {
    font-size: 18px;
}

/* Mobile */
@media screen and (max-width: 500px) {
    .cse-event-club-logo {
        width: 30px;
        height: 30px;
    }

    .cse-event-title {
        font-size: 12px;
    }
}